@media only screen and (max-width: 400px){
    body{
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }

    .section1{
        background-image: url('images/bg-hero-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: hsl(193, 100%, 96%);
    }

    span .logo{
        width: 70% !important;
        padding-left: 10px
    }

    .buttons{
        width: 80%;
        background-color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 700;
        height: 100%;
        box-shadow: 3px 3px 15px #888888;
    }

    .grid_container1{
        display: grid !important;
        grid-template-columns: 45% auto 35%;
        padding-top: 20px;
        display: inline;
    }

    .grid_container2{
        display: inline ;
    }

    .container2_heading{
        margin: 13% 14%;
        font-size: 28px !important;
        text-align: center;
    }
    .container2_para{
        margin: 0% 13%;
        text-align: center;
        margin-top: -20px;
    }

    .grid_container3{
        margin: 7% 0%;
    }

    .pink_button{
        background-color: hsl(322, 100%, 66%);
        border: none;
        border-radius: 24px;
        box-shadow: 3px 3px 15px #888888;
        color: #fff;
        width: 60%;
        height: 40px;
        font-size: 15px;
    }

    .mediaQ_pink{
        margin: 9% 19%;
    }

    .heading_image{
        width: 80%;
        margin: 0% 11%;
    }

    .media_box{
        border: none;
        border-radius: 15px;
        box-shadow: 3px 3px 15px #888888;
        width: 80%;
        margin: 0% 11%;
        text-align: center;
    }

    .grow_together{
        width: 65%;
        margin: -5% 0% 3% 0%;
    }

    .box2{
        text-align: center;
        background-color: #fff;
        box-shadow: 3px 3px 15px #888;
        width: 80%;
        border: none;
        border-radius: 15px;
        padding: 10px 15px;
        margin: 5% 6.5%;
        z-index: 999;
    }

    .box_image{
        width: 68%;
        margin: 15% 0% 0% 1%;
    }

    .footer_section{
        z-index: -999;
        margin-top: -20%;
        background-color: hsl(192, 100%, 9%);
        padding-top: 25%;
        padding-left: 15%;
        padding-right: 15%;
        height: 350px;
        font-size: 14px;
        color: #fff;
    }

    
}


@media only screen and (min-width: 401px){
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin: 0;
    }
    
    .section1{
        background-color:  hsl(193, 100%, 96%);
        background-image: url('images/bg-hero-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .grid_container1{
        display: grid;
        grid-template-columns: 25% auto 25%;
        height: auto;
        padding: 10px 0px 0px 10px;
    }
    
    .container2_heading{
     margin-top:200px;
     font-size:40px;
    }

    .buttons{
        background-color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 13px;
        font-weight: 700;
        width: 70%;
        height: 90%;
        box-shadow: 3px 3px 15px #888888;
    }
    
    .grid_container2{
        display: grid;
        grid-template-columns: 50% auto;
        height: 600px;
    }
    
    .grid_item1{
        text-align: center justify;
        padding-left: 15%;
        padding-right: 15%;
    }
    .grid_item2{
        text-align: center;
    }

    .heading_image{
        width: 100%; 
        margin-top: 50px;
    }
    
    .grid_container3{
        margin-top: 3%;
        display: grid;
        grid-template-columns: 200px auto 200px;
    }

    .grow_together{
        width: 65%; 
        margin: 0% 5% 5% 8%;
    }
    
    .box1{
        box-shadow: 3px 3px 15px #888888;
        border-radius: 15px;
        height: 103%;
        display: grid;
        grid-template-columns: 50% auto;
    }

    .box_image{
        width: 68%;
         margin: 3% 0% 0% 8%;
    }

    
    .grid_container4{
        display: grid;
        grid-template-columns: 450px auto 450px;
        margin-top: 5%;
        }
    
    .box2{
        background-color: #fff;
        box-shadow: 3px 3px 15px #888888;
        border-radius: 15px;
        height: 200px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 10% auto 10%
    }
    
    .pink_button{
        background-color: hsl(322, 100%, 66%);
        border: none;
        border-radius: 24px;
        box-shadow: 3px 3px 15px #888888;
        color: #fff;
        width: 60%;
        height: 50px;
        font-size: 15px;
    }

    .mediaQ_pink{
        margin: 10px 0;
    }
    
    .footer_section{
        margin-top: -70px;
        background-color: hsl(192, 100%, 9%);
        padding-top: 200px;
        height: 250px;
        font-size: 18px;
        color: #fff;
        display: grid;
        grid-template-columns: 10% 25% 20% 20% 25%; 
    }
    .grow_together{
        margin-top: 5%;
    }
    
    .la_button{
        margin-left: 18%;
    }
    
    .footer_options{
        margin-left: 50%;
    }
}
